<!-- TODO: Use bhav_copy_equities with differenet date to get historical data -->

In [36]:
import pandas as pd
from datetime import date
import nselib
from nselib import capital_market
#  import nsepy as nse

In [5]:
holiday_df = nselib.trading_holiday_calendar()
print(holiday_df)

                                   Product  tradingDate    weekDay  \
0                          Corporate Bonds  22-Jan-2024     Monday
1                          Corporate Bonds  26-Jan-2024     Friday
2                          Corporate Bonds  19-Feb-2024     Monday
3                          Corporate Bonds  08-Mar-2024     Friday
4                          Corporate Bonds  25-Mar-2024     Monday
..                                     ...          ...        ...
15  Securities Lending & Borrowing Schemes  12-Oct-2024   Saturday
16  Securities Lending & Borrowing Schemes  01-Nov-2024     Friday
17  Securities Lending & Borrowing Schemes  02-Nov-2024   Saturday
18  Securities Lending & Borrowing Schemes  15-Nov-2024     Friday
19  Securities Lending & Borrowing Schemes  25-Dec-2024  Wednesday

                             description Sr_no
0                      Special Holiday\r     1
1                         Republic Day\r     2
2   Chatrapati Shivaji Maharaj Jayanti\r     3
3                        Mahashivratri\r     4
4                                 Holi\r     5
..                                   ...   ...
15                            Dussehra\r    16
16                 Diwali Laxmi Pujan*\r    17
17                Diwali-Balipratipada\r    18
18                   Gurunanak Jayanti\r    19
19                           Christmas\r    20

[237 rows x 5 columns]

In [53]:
bce_df = capital_market.bhav_copy_equities(trade_date='02-01-2023')
print(bce_df)

          SYMBOL SERIES     OPEN     HIGH      LOW   CLOSE     LAST  \
0     1018GS2026     GS   118.00   118.00   118.00   118.0   118.00
1     182D020223     TB    99.00    99.00    99.00    99.0    99.00
2     182D180523     TB    96.80    96.80    96.80    96.8    96.80
3      20MICRONS     EQ    91.05    93.20    91.05    92.9    93.00
4     21STCENMGM     EQ    22.95    22.95    22.10    22.3    22.25
...          ...    ...      ...      ...      ...     ...      ...
2378        ZOTA     EQ   308.20   327.85   305.95   324.4   324.55
2379       ZUARI     EQ   164.75   165.75   161.70   162.5   163.00
2380    ZUARIIND     EQ   150.80   151.00   147.50   148.1   149.75
2381   ZYDUSLIFE     EQ   419.85   421.45   414.15   420.1   420.30
2382   ZYDUSWELL     EQ  1510.00  1538.90  1509.95  1530.1  1535.00

      PREVCLOSE  TOTTRDQTY     TOTTRDVAL    TIMESTAMP  TOTALTRADES
0        116.00        648  7.646400e+04  02-JAN-2023            4
1         99.00        100  9.900000e+03  02-JAN-2023            1
2         96.50       2100  2.032800e+05  02-JAN-2023            1
3         91.05     101869  9.418305e+06  02-JAN-2023         1665
4         22.55       4028  9.038710e+04  02-JAN-2023           71
...         ...        ...           ...          ...          ...
2378     303.65     159409  5.115719e+07  02-JAN-2023         4688
2379     163.90      90857  1.488996e+07  02-JAN-2023         2177
2380     148.65      29371  4.358791e+06  02-JAN-2023          700
2381     419.95     562491  2.354174e+08  02-JAN-2023        14694
2382    1506.80       5485  8.357390e+06  02-JAN-2023         1561

[2383 rows x 12 columns]

In [52]:
print(bce_df.columns)

Index(['SYMBOL', 'SERIES', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'LAST', 'PREVCLOSE',
       'TOTTRDQTY', 'TOTTRDVAL', 'TIMESTAMP', 'TOTALTRADES'],
      dtype='object')

In [54]:
print(bce_df.shape[0])

2383

In [66]:
print(bce_df[bce_df['TIMESTAMP']=='29-12-2022'])

Empty DataFrame
Columns: [SYMBOL, SERIES, OPEN, HIGH, LOW, CLOSE, LAST, PREVCLOSE, TOTTRDQTY, TOTTRDVAL, TIMESTAMP, TOTALTRADES]
Index: []

In [19]:
bcwd = capital_market.bhav_copy_with_delivery(trade_date='01-01-2023') 
print(bcwd)

          SYMBOL SERIES  OPEN_PRICE  HIGH_PRICE  LOW_PRICE  CLOSE_PRICE  \
0     1018GS2026     GS      116.00      116.00     116.00       116.00
1      20MICRONS     EQ       91.45       92.55      90.20        91.05
2     21STCENMGM     EQ       22.00       22.55      22.00        22.55
3      3IINFOLTD     EQ       41.00       41.60      40.65        40.75
4        3MINDIA     EQ    22075.05    22188.95   21900.00     21943.10
...          ...    ...         ...         ...        ...          ...
2316        ZOTA     EQ      300.00      312.00     300.00       303.65
2317       ZUARI     EQ      166.75      170.80     162.30       163.90
2318    ZUARIIND     EQ      148.85      152.50     147.00       148.65
2319   ZYDUSLIFE     EQ      419.45      421.85     413.55       419.95
2320   ZYDUSWELL     EQ     1506.00     1525.00    1492.00      1506.80

      PREV_CLOSE  TTL_TRD_QNTY  TURNOVER_LACS  NO_OF_TRADES DELIV_QTY  \
0         111.20             1           0.00             1         1
1          91.10         73604          67.24          1735     38171
2          22.15         61746          13.73           305      2486
3          40.40        367046         150.60          2158    162682
4       22017.30           760         167.40           554       368
...          ...           ...            ...           ...       ...
2316      298.45         55274         169.22          2207     29360
2317      165.95        231150         386.21          4826     80080
2318      147.50         65437          98.26          1932     21503
2319      417.35       1222303        5109.07         15296    749021
2320     1493.15         11039         166.51          2615      6499

     DELIV_PER        DATE1
0       100.00  30-Dec-2022
1        51.86  30-Dec-2022
2         4.03  30-Dec-2022
3        44.32  30-Dec-2022
4        48.42  30-Dec-2022
...        ...          ...
2316     53.12  30-Dec-2022
2317     34.64  30-Dec-2022
2318     32.86  30-Dec-2022
2319     61.28  30-Dec-2022
2320     58.87  30-Dec-2022

[2321 rows x 13 columns]

In [39]:

print(bcwd.columns)

Index(['SYMBOL', 'SERIES', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'LAST', 'PREVCLOSE',
       'TOTTRDQTY', 'TOTTRDVAL', 'TIMESTAMP', 'TOTALTRADES'],
      dtype='object')
Index(['SYMBOL', 'SERIES', 'OPEN_PRICE', 'HIGH_PRICE', 'LOW_PRICE',
       'CLOSE_PRICE', 'PREV_CLOSE', 'TTL_TRD_QNTY', 'TURNOVER_LACS',
       'NO_OF_TRADES', 'DELIV_QTY', 'DELIV_PER', 'DATE1'],
      dtype='object')

In [40]:
capital_market.equity_list()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1961,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1962,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1963,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1964,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1965,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10

In [48]:
capital_market.nifty50_equity_list()

,Company Name,Industry,Symbol
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT
4,Axis Bank Ltd.,Financial Services,AXISBANK
5,Bajaj Auto Ltd.,Automobile and Auto Components,BAJAJ-AUTO
6,Bajaj Finance Ltd.,Financial Services,BAJFINANCE
7,Bajaj Finserv Ltd.,Financial Services,BAJAJFINSV
8,Bharat Petroleum Corporation Ltd.,Oil Gas & Consumable Fuels,BPCL
9,Bharti Airtel Ltd.,Telecommunication,BHARTIARTL
10,Britannia Industries Ltd.,Fast Moving Consumer Goods,BRITANNIA
11,Cipla Ltd.,Healthcare,CIPLA
12,Coal India Ltd.,Oil Gas & Consumable Fuels,COALINDIA
13,Divi's Laboratories Ltd.,Healthcare,DIVISLAB
14,Dr. Reddy's Laboratories Ltd.,Healthcare,DRREDDY
15,Eicher Motors Ltd.,Automobile and Auto Components,EICHERMOT
16,Grasim Industries Ltd.,Construction Materials,GRASIM
17,HCL Technologies Ltd.,Information Technology,HCLTECH
18,HDFC Bank Ltd.,Financial Services,HDFCBANK
19,HDFC Life Insurance Company Ltd.,Financial Services,HDFCLIFE
20,Hero MotoCorp Ltd.,Automobile and Auto Components,HEROMOTOCO
21,Hindalco Industries Ltd.,Metals & Mining,HINDALCO
22,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,HINDUNILVR
23,ICICI Bank Ltd.,Financial Services,ICICIBANK
24,ITC Ltd.,Fast Moving Consumer Goods,ITC
25,IndusInd Bank Ltd.,Financial Services,INDUSINDBK
26,Infosys Ltd.,Information Technology,INFY
27,JSW Steel Ltd.,Metals & Mining,JSWSTEEL
28,Kotak Mahindra Bank Ltd.,Financial Services,KOTAKBANK
29,LTIMindtree Ltd.,Information Technology,LTIM
30,Larsen & Toubro Ltd.,Construction,LT
31,Mahindra & Mahindra Ltd.,Automobile and Auto Components,M&M
32,Maruti Suzuki India Ltd.,Automobile and Auto Components,MARUTI
33,NTPC Ltd.,Power,NTPC
34,Nestle India Ltd.,Fast Moving Consumer Goods,NESTLEIND
35,Oil & Natural Gas Corporation Ltd.,Oil Gas & Consumable Fuels,ONGC
36,Power Grid Corporation of India Ltd.,Power,POWERGRID
37,Reliance Industries Ltd.,Oil Gas & Consumable Fuels,RELIANCE
38,SBI Life Insurance Company Ltd.,Financial Services,SBILIFE
39,State Bank of India,Financial Services,SBIN
40,Sun Pharmaceutical Industries Ltd.,Healthcare,SUNPHARMA
41,Tata Consultancy Services Ltd.,Information Technology,TCS
42,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,TATACONSUM
43,Tata Motors Ltd.,Automobile and Auto Components,TATAMOTORS
44,Tata Steel Ltd.,Metals & Mining,TATASTEEL
45,Tech Mahindra Ltd.,Information Technology,TECHM
46,Titan Company Ltd.,Consumer Durables,TITAN
47,UPL Ltd.,Chemicals,UPL
48,UltraTech Cement Ltd.,Construction Materials,ULTRACEMCO
49,Wipro Ltd.,Information Technology,WIPRO

In [55]:
print(list(bci_df['Index Name']))

['Nifty 50', 'Nifty Next 50', 'Nifty 100', 'Nifty 200', 'Nifty 500', 'Nifty Midcap 50', 'NIFTY Midcap 100', 'NIFTY Smallcap 100', 'Nifty50 Dividend Points', 'Nifty Auto', 'Nifty Bank', 'Nifty Energy', 'Nifty Financial Services', 'Nifty FMCG', 'Nifty IT', 'Nifty Media', 'Nifty Metal', 'Nifty MNC', 'Nifty Pharma', 'Nifty PSU Bank', 'Nifty Realty', 'Nifty India Consumption', 'Nifty Commodities', 'Nifty Dividend Opportunities 50', 'Nifty Infrastructure', 'Nifty PSE', 'Nifty Services Sector', 'Nifty50 Shariah', 'Nifty500 Shariah', 'Nifty Low Volatility 50', 'Nifty Alpha 50', 'Nifty High Beta 50', 'Nifty100 Equal Weight', 'Nifty100 Liquid 15', 'Nifty CPSE', 'Nifty50 Value 20', 'Nifty Midcap Liquid 15', 'Nifty Shariah 25', 'India VIX', 'Nifty Growth Sectors 15', 'Nifty50 TR 1x Inverse', 'Nifty50 TR 2x Leverage', 'Nifty50 PR 1x Inverse', 'Nifty50 PR 2x Leverage', 'NIFTY100 Quality 30', 'Nifty 50 Futures Index', 'NIFTY50 Equal Weight', 'Nifty 50 Futures TR Index', 'Nifty Mahindra Group', 'Nifty Aditya Birla Group', 'Nifty Tata Group', 'Nifty Tata Group 25% Cap', 'Nifty Private Bank', 'Nifty Smallcap 250', 'Nifty Smallcap 50', 'Nifty MidSmallcap 400', 'Nifty Midcap 150', 'Nifty Midcap Select', 'NIFTY LargeMidcap 250', 'NIFTY SME EMERGE', 'Nifty Oil & Gas', 'Nifty Financial Services 25/50', 'Nifty Healthcare Index', 'Nifty500 Multicap 50:25:25', 'Nifty Microcap 250', 'Nifty Total Market', 'Nifty India Digital', 'Nifty Mobility', 'Nifty India Defence', 'Nifty Financial Services Ex-Bank', 'Nifty Housing', 'Nifty Transportation & Logistics', 'Nifty MidSmall Financial Services', 'Nifty MidSmall Healthcare', 'Nifty MidSmall IT & Telecom', 'Nifty MidSmall India Consumption', 'Nifty REITs & InvITs', 'Nifty Core Housing', 'Nifty500 Multicap Infrastructure 50:30:20', 'Nifty Consumer Durables', 'Nifty Non-Cyclical Consumer', 'Nifty500 Multicap India Manufacturing 50:30:20', 'Nifty100 ESG Sector Leaders', 'NIFTY100 Alpha 30', 'NIFTY500 Value 50', 'Nifty100 Low Volatility 30', 'NIFTY Alpha Low-Volatility 30', 'NIFTY Quality Low-Volatility 30', 'NIFTY Alpha Quality Low-Volatility 30', 'NIFTY Alpha Quality Value Low-Volatility 30', 'NIFTY200 Quality 30', 'NIFTY Midcap150 Quality 50', 'Nifty200 Momentum 30', 'Nifty India Manufacturing', 'Nifty200 Alpha 30', 'Nifty Midcap150 Momentum 50', 'Nifty Smallcap250 Quality 50', 'Nifty Smallcap250 Momentum Quality 100', 'Nifty MidSmallcap400 Momentum Quality 100', 'NIFTY100 ESG', 'NIFTY100 Enhanced ESG', 'Nifty 50 Arbitrage', 'Nifty 8-13 yr G-Sec', 'Nifty 4-8 yr G-Sec Index', 'Nifty 11-15 yr G-Sec Index', 'Nifty 15 yr and above G-Sec Index', 'Nifty Composite G-sec Index', 'Nifty 10 yr Benchmark G-Sec', 'Nifty 10 yr Benchmark G-Sec (Clean Price)', 'Nifty 1D Rate Index', 'Nifty50 USD']

In [56]:
bci_df = capital_market.capital_market_data.bhav_copy_indices('15-03-2024')
print(bci_df)

                                    Index Name  Index Date Open Index Value  \
0                                     Nifty 50  15-03-2024         22064.85
1                                Nifty Next 50  15-03-2024         58414.35
2                                    Nifty 100  15-03-2024         22548.55
3                                    Nifty 200  15-03-2024          12113.8
4                                    Nifty 500  15-03-2024         19867.75
..                                         ...         ...              ...
106                Nifty Composite G-sec Index  15-03-2024          2670.16
107                Nifty 10 yr Benchmark G-Sec  15-03-2024          2286.47
108  Nifty 10 yr Benchmark G-Sec (Clean Price)  15-03-2024           878.31
109                        Nifty 1D Rate Index  15-03-2024                -
110                                Nifty50 USD  15-03-2024                -

    High Index Value Low Index Value  Closing Index Value  Points Change  \
0            22120.9         21931.7             22023.35        -123.30
1            58661.1         57184.2             58058.80        -461.40
2            22613.9        22367.65             22494.70        -129.00
3           12152.75        11998.85             12080.65         -67.20
4            19942.4        19671.15             19825.20         -91.15
..               ...             ...                  ...            ...
106          2670.58         2667.34              2667.49          -2.15
107          2286.47         2283.23              2283.30          -2.72
108           878.31          877.06               877.09          -1.22
109                -               -              2253.59           0.41
110                -               -              9206.36         -58.53

    Change(%)      Volume Turnover (Rs. Cr.)    P/E   P/B Div Yield
0        -.56   661460455           60260.88  22.74  3.86      1.22
1        -.79   549454176           17931.13  25.11  4.66      1.31
2        -.57  1216448811           78538.63  23.34  4.01      1.21
3        -.55  2923917431          104669.59  23.47  3.97      1.16
4        -.46  4157462068          132264.41  24.04  3.98      1.12
..        ...         ...                ...    ...   ...       ...
106      -.08           -                  -      -     -         -
107      -.12           -                  -      -     -         -
108      -.14           -                  -      -     -         -
109       .02           -                  -      -     -         -
110      -.63           -                  -      -     -         -

[111 rows x 13 columns]

In [58]:
print(bci_df.columns)

Index(['Index Name', 'Index Date', 'Open Index Value', 'High Index Value',
       'Low Index Value', 'Closing Index Value', 'Points Change', 'Change(%)',
       'Volume', 'Turnover (Rs. Cr.)', 'P/E', 'P/B', 'Div Yield'],
      dtype='object')

In [42]:
print(bci_df.shape)

(111, 13)

In [44]:
print(bci_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index Name           111 non-null    object
 1   Index Date           111 non-null    object
 2   Open Index Value     111 non-null    object
 3   High Index Value     111 non-null    object
 4   Low Index Value      111 non-null    object
 5   Closing Index Value  111 non-null    float64
 6   Points Change        111 non-null    float64
 7   Change(%)            111 non-null    object
 8   Volume               111 non-null    object
 9   Turnover (Rs. Cr.)   111 non-null    object
 10  P/E                  111 non-null    object
 11  P/B                  111 non-null    object
 12  Div Yield            111 non-null    object
dtypes: float64(2), object(11)
memory usage: 11.4+ KB
None

In [ ]:
capital_market.capital_market_data.validate_date_param

In [45]:
capital_market.market_watch_all_indices()

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,22096.75,84.80,0.39,21932.20,22180.70,21883.30,22011.95,...,1.21,12,38,0,29.4,0.19,22011.95,22023.35,22055.05,17076.90
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,59188.90,270.60,0.46,58987.10,59326.25,58644.30,58918.30,...,1.24,19,31,0,56.51,1.37,58918.30,58058.80,58386.50,37818.55
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,22633.80,94.90,0.42,22476.70,22709.35,22414.50,22538.90,...,1.19,31,70,0,33.47,0.38,22538.90,22494.70,22547.60,16958.15
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,12168.75,54.25,0.45,12084.35,12204.85,12050.50,12114.50,...,1.15,67,134,0,36.74,-0.11,12114.50,12080.65,12181.80,8899.40
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,19994.60,97.20,0.49,19855.00,20048.60,19806.70,19897.40,...,1.11,164,333,4,38.82,-0.66,19897.40,19825.20,20128.30,14403.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,877.12,-0.64,-0.07,877.76,877.76,876.32,877.76,...,,NaN,NaN,NaN,1.55,-0.13,877.67,877.23,878.23,863.71
69,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2791.15,-1.21,-0.04,2792.90,2792.90,2789.75,2792.36,...,,NaN,NaN,NaN,7.75,0.45,2792.67,2789.63,2778.59,2590.43
70,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2843.16,-3.02,-0.10,2846.74,2846.74,2842.13,2846.18,...,,NaN,NaN,NaN,9.82,0.23,2847.21,2843.82,2836.65,2588.89
71,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3148.73,-4.21,-0.13,3153.56,3155.77,3147.16,3152.94,...,,NaN,NaN,NaN,10.85,0.26,3153.68,3148.53,3140.67,2840.47
72,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2669.29,-1.98,-0.07,2671.79,2671.86,2668.51,2671.27,...,,NaN,NaN,NaN,8.87,0.39,2671.55,2667.69,2658.91,2451.90

In [30]:
capital_market.index_data('NIFTY 50','17-03-2022','17-03-2024')

/home/codespace/.python/current/lib/python3.10/site-packages/nselib/capital_market/capital_market_data.py:226: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

NSEdataNotFound:  Resource not available MSG: "['_id', 'EOD_TIMESTAMP'] not found in axis"

In [22]:
print(bce.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383 entries, 0 to 2382
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SYMBOL       2383 non-null   object
 1   SERIES       2376 non-null   object
 2   OPEN         2383 non-null   float64
 3   HIGH         2383 non-null   float64
 4   LOW          2383 non-null   float64
 5   CLOSE        2383 non-null   float64
 6   LAST         2383 non-null   float64
 7   PREVCLOSE    2383 non-null   float64
 8   TOTTRDQTY    2383 non-null   int64
 9   TOTTRDVAL    2383 non-null   float64
 10  TIMESTAMP    2383 non-null   object
 11  TOTALTRADES  2383 non-null   int64
dtypes: float64(7), int64(2), object(3)
memory usage: 223.5+ KB
None

Symbol: The stock symbol/name or the identifier of the security.

Series: The series of the security, such as equity shares, debentures, etc. Values are EQ, BE, BL, BT, GC, IL and IQ.

Open: Price at which the security opened on the day of the report.

High: Highest traded price of the security during the day.

Low: Lowest traded price of the security during the day.

Close: Price at which the security was traded at the end of the market.

Last: Price at which the security was traded at the last transaction before the close of the market.

Prev Close: Closing price of the security on the previous trading day.

TOTTRDQTY: The total quantity or number of shares traded during the day.

TOTTRDVAL: The total value of the shares traded, calculated as the product of the traded quantity and the last traded price.

TIMESTAMP: The date of the report.

TOTALTRADES: The number of trades that were executed for the security during the day. E.g. for a stock, Trade 1 has quantity = 100, Trade 2 quantity = 1000. TOTALTRADES = 2 and TOTTRDQTY = 1100

ISIN: International Securities Identification Number. Identify the security across exchanges using this ID.

In [ ]:
capital_market.equity_list()

In [ ]:
symbols = list(capital_market.equity_list()['SYMBOL'])
print(symbols)
print(len(symbols))

In [ ]:
capital_market.price_volume_and_deliverable_position_data(symbol='ASIANPAINT',period='1W')

In [ ]:
# # 41 mins
# [10137 rows x 15 columns]
data = pd.DataFrame()
for symbol in symbols:
    df =  capital_market.price_volume_and_deliverable_position_data(symbol=symbol,period='1Y')
    data = pd.concat([data, df], ignore_index=True)
print(data)

In [ ]:
# get_price_volume_data
capital_market.price_volume_data(symbol='SBIN',from_date='17-03-2022',to_date='17-06-2023')
# capital_market.price_volume_and_deliverable_position_data(symbol='ASIANPAINT',period='1W')

In [ ]:
# 41 mins
data = pd.DataFrame()
for symbol in symbols:
    df =  capital_market.price_volume_and_deliverable_position_data(symbol=symbol,period='1w')
    data = pd.concat([data, df], ignore_index=True)
print(data)

In [ ]:
import calendar
def date_iter(year, month):
    for i in range(1, calendar.monthlen(year, month) + 1):
        yield date(year, month, i)

for d in date_iter(2019, 12):
    print(d)

In [ ]:
import datetime, calendar
year = 2014
month = 1
num_days = calendar.monthrange(year, month)[1]
print(num_days)
days = [datetime.date(year, month, day) for day in range(1, num_days+1)]
print(days)

In [ ]:
print(pd.to_datetime(holiday_df['tradingDate']).dt.strftime("%d-%m-%Y"))

In [ ]:
import pandas as pd
from datetime import date, timedelta
import nselib
from nselib import capital_market
from collections import namedtuple
from calendar import monthrange
from time import time

year = 2023
months = [x for x in range(1, 13)]
# sdate = '01-01-2023'
# edate = '31-12-2023'
for month in months:

    num_days = monthrange(year, month)[1]
    print(num_days)
    sdate = date(2023, month, 1)  # start date
    edate = date(2023, month, num_days)  # end date
    dates = pd.date_range(sdate, edate, freq="d").strftime("%d-%m-%Y").tolist()
    print(dates)
    bhav_df = pd.DataFrame()

    for date in dates:
        try:
            t_start = time()
            # print(f'Calling bhav_copy_with_delivery with trade_date = {date}')
            temp_df = capital_market.bhav_copy_with_delivery(trade_date=date)
            bhav_df = pd.concat([bhav_df, temp_df], ignore_index=True)
            t_end = time()
            print(f"Took %.3f second for {date}" % (t_end - t_start))
        except KeyError:
            pass
    print(f"Print complete for {month}")
    print(bhav_df.shape)
print(f"Print complete for {year}")

In [ ]:
import pandas as pd
from datetime import date, timedelta
import nselib
from nselib import capital_market
from collections import namedtuple
from calendar import monthrange
from time import time


def get_dates(year, month=None):
    dates = {}
    months = [x for x in range(1, 13)]
    for month in months:
        # month_start = time()
        num_days = monthrange(year, month)[1]
        sdate = date(year=year, month=month, day=1)  # start date
        edate = date(year=year, month=month, day=num_days)  # end date
        dates[month] = (
            pd.date_range(sdate, edate, freq="d").strftime("%d-%m-%Y").tolist()
        )
        # bhav_df = pd.DataFrame()
    return dates

In [83]:
import pandas as pd
from datetime import date
from nselib import capital_market
from calendar import monthrange
import argparse
import os
from tqdm import tqdm

year = 2023

def yearly_bhav_data(year, month, dates):
    """
    Takes year, month and dates as arguments and downloads
    bhav_copy_with_delivery data from nselib for the given dates
    and saves it in a csv file for each date.

    Args:
        year : integer
        month : integer
        dates : list of dates with each date in the format '%d-%m-%Y'

    """
    # print(f"Downloading data for {month:02}-{year}")
    # MONTH_DIR = f"{BASE_DIR}/{month:02}"
    # if not os.path.exists(MONTH_DIR):
    #     os.makedirs(MONTH_DIR)
    for trade_date in tqdm(dates):
        try:
            count1=0
            count2=0
            temp_df = capital_market.bhav_copy_equities(trade_date=trade_date)
            count1 = temp_df[temp_df['TIMESTAMP']=='29-12-2022'].shape[0]
            count2 = temp_df[temp_df['TIMESTAMP']=='30-12-2022'].shape[0]
            if(count1>0 or count2>0):
                print(f"{count1} ,{count2} , {trade_date}")
            # temp_df.to_csv(f"{MONTH_DIR}/bhavdata_{trade_date}.csv", index=False)
        except KeyError:
            # print(f"No activity on {trade_date}")
            pass
        # print(f"Completed downloading data for {month:02}-{year}")

months = [x for x in range(1, 13)]

for month in months:
    num_days = monthrange(year, month)[1]
    sdate = date(year=year, month=month, day=1)  # start date
    edate = date(year=year, month=month, day=num_days)  # end date
    dates = pd.date_range(sdate, edate, freq="d").strftime("%d-%m-%Y").tolist()
    yearly_bhav_data(year, month, dates)


symbols = list(capital_market.equity_list()["SYMBOL"])
print(bce_df[bce_df['TIMESTAMP']=='29-12-2022'])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 31/31 [00:24<00:00,  1.28it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 28/28 [00:21<00:00,  1.30it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 31/31 [00:21<00:00,  1.43it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 30/30 [00:24<00:00,  1.24it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 31/31 [00:20<00:00,  1.50it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 30/30 [00:18<00:00,  1.62it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 31/31 [00:20<00:00,  1.50it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 31/31 [00:21<00:00,  1.42it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 30/30 [00:20<00:00,  1.48it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 31/31 [00:19<00:00,  1.57it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 30/30 [00:22<00:00,  1.34it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 31/31 [00:20<00:00,  1.49it/s]

Empty DataFrame
Columns: [SYMBOL, SERIES, OPEN, HIGH, LOW, CLOSE, LAST, PREVCLOSE, TOTTRDQTY, TOTTRDVAL, TIMESTAMP, TOTALTRADES]
Index: []